<img src="./uptdsdn2kalimati.svg" alt="school-logo" width="200">
<h1 class="flex">Welcome to the API Service of UPTD SDN 2 Kalimati</h1>
<p>Here you can access educational data to support integration.</p>
<a href="https://api-uptdsdn2kalimati.vercel.app/api/v1/gtk">Click Here</a>