@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');

* {
  font-family: "Plus Jakarta Sans", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  letter-spacing: 2px;
  margin-bottom: 1px;
}

p {
  font-size: 20px;
}

a {
  color: blue;
}

@media (max-width: 600px) {
  h1 {
    font-size: 5vw; /* Ukuran lebih besar jika layarnya kecil */
  }

  p {
    font-size: 3vw; /* Sesuaikan ukuran teks paragraf */
  }
}